<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSM_GUI.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MSM_GUI.MySettings>
            <setting name="RangeFrom" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="RangeTo" serializeAs="String">
                <value>192.168.2.100</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DurationDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Retry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>5</value>
            </setting>
        </MSM_GUI.MySettings>
    </userSettings>
</configuration>